<footer class="fot">
	<div class="fot--content">
		<div class="collapsible collapsible--expanded">
			<header class="collapsible--header">
				<h2 class="collapsible--title">PRODUCTION</h2>
				<svg class="icon icon--white collapsible--icon">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible--content">
				<ul class="list">
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible collapsible--expanded">
			<header class="collapsible--header">
				<h2 class="collapsible--title">COMPANY</h2>
				<svg class="icon icon--white collapsible--icon">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible--content">
				<ul class="list">
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible collapsible--expanded">
			<header class="collapsible--header">
				<h2 class="collapsible--title">SUPPORT</h2>
				<svg class="icon icon--white collapsible--icon">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible--content">
				<ul class="list">
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
				</ul>
			</div>
		</div>
		<div class="collapsible collapsible--expanded">
			<header class="collapsible--header">
				<h2 class="collapsible--title">DOMAIN</h2>
				<svg class="icon icon--white collapsible--icon">
					<use xlink:href="images/sprite.svg#chevron"></use>
				</svg>
			</header>
			<div class="collapsible--content">
				<ul class="list">
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
					<li class="list--item"><a href="#"> Lorem, ipsum.</a></li>
				</ul>
			</div>
		</div>
		<div class="footer--copyright">
			<a href="/"><img src="/images/logo.svg" alt="moshify logo" /></a>
			<p>Copyright © 2023 FerIII</p>
		</div>
	</div>
</footer>
