<section class="block container block-domain">
	<header class="block">
		<h2>starting at 9$ per month</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic, suscipit?</p>
	</header>
	<div class="input-group">
		<input class="inputs input--btn" type="text" placeholder="Enter Domains Name Here" />
		<button class="btn btn--accent">
			<svg class="icon icon--white icon__search">
				<use xlink:href="images/sprite.svg#search"></use>
			</svg>
			Search
		</button>
	</div>
	<ul class="list block-domain__prices">
		<li><span class="badge badge--secondary">.com $9</span></li>
		<li>.sg $10</li>
		<li>.space $11</li>
		<li>.info $14</li>
		<li>.net $10</li>
		<li>.xyz $10</li>
	</ul>
</section>
