<section class="block container">
	<header class="block__header">
		<h2 class="block--title">Hedaing</h2>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum dolor suscipit perferendis architecto labore quaerat quae amet accusantium quos sint!</p>
	</header>
</section>
<section class="block block--dark block--skewed-left">
	<div class="container">
		<h2 class="block--title">Hedaing</h2>
		<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsum dolor suscipit perferendis architecto labore quaerat quae amet accusantium quos sint!</p>
	</div>
</section>
