<section class="block--dark block-showcase">
	<header class="block__header">
		<h2 class="showcase--header">User-Friendly Control Panel</h2>
	</header>
	<div class="grid grid--1x2 showcase--contetnt">
		<picture>
			<source type="images/webp" srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x" />
			<source type="images/png" srcset="images/ipad.png 1x, images/ipad@2x.png 2x" />
			<img class="hero__img showcase--img" src="/images/ipad@2x.png" alt="" />
		</picture>
		<div class="grid /*grid--1x2*/ grid--1x2__small">
			<!-- CHERA VAQTI GRID 1*2 RO AZ INJA PAK KARDAM TO WIDE SCREEN KAR KARD? -->
			<svg class="icon icon--secondary">
				<use xlink:href="images/sprite.svg#menu"></use>
			</svg>
			<div>
				<h3 class="showcase--subtitle">Easy start& Managed Updates</h3>
				<p class="showcase__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, provident.</p>
			</div>
			<svg class="icon icon--secondary">
				<use xlink:href="images/sprite.svg#menu"></use>
			</svg>
			<div>
				<h3 class="showcase--subtitle">Easy start& Managed Updates</h3>
				<p class="showcase__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, provident.</p>
			</div>
			<svg class="icon icon--secondary">
				<use xlink:href="images/sprite.svg#menu"></use>
			</svg>
			<div>
				<h3 class="showcase--subtitle">Easy start& Managed Updates</h3>
				<p class="showcase__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, provident.</p>
			</div>
		</div>
	</div>
</section>
<!-- 



/* block showcase */
.block-showcase {
    background-color: #000;
    padding: 5rem 0 20rem 0rem;
}
.showcase--header {
    text-align: center;
    color: #fff;
    margin-top:0 ;
    font-size: 6vw;
    white-space: nowrap;
}
.showcase--img {
    margin-bottom: 5rem;
}
.showcase--content {
    font-size: 1.5rem;
}
/* CHERA IN FONTI K INJA DADAM BE HAME CHILD HAYE PAINI EMAL NASHOD? */
.showcase--subtitle {
    color: #fff;
    margin: 0 auto 2rem 0rem;
    font-size: 2rem;
    width: 100%;
}
.grid--1x2__small div {
    margin-left: 2rem;
}
.showcase__text {
    font-size: 1.5REM;
}
.grid--1x2__small .icon {
    margin-left: 3rem;
}

@media screen and (min-width: 768px) {
    .showcase--header {
    margin-bottom: 5rem;
    }
    /* CHERA VAQTI showcase--content .ICON ZADAM ABAD IMG AM KOCHIK NASHOD?  */
    .grid--1x2__small .icon {
    width: 30PX;
    height: 30PX;
    }
    .block--skewed-right {
       clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
   }
   .block-showcase {
    
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
   }
} -->
