<blockquote class="quote">
	<p class="quote__describtion">
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem minima, hic quasi recusandae vel aperiam laboriosam, distinctio nam nihil asperiores, neque impedit
		repudiandae autem fuga.
	</p>
	<footer>
		<div class="media">
			<div class="media__image">
				<svg class="icon icon--primary qoute__img">
					<use xlink:href="images/sprite.svg#line"></use>
				</svg>
			</div>
			<div class="media__body">
				<h3 class="media__title quote__author">Donal J Trump</h3>
				<p class="quote__company">USA President</p>
			</div>
		</div>
	</footer>
</blockquote>
